<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<div class="header">
  <h1>Olio Items</h1>
  <p>Here is a list of Olio items for you to review</p>
</div>
<div>
  <div class="container">
    <% @olio_items.each do |olio_item| %>
      <%= render 'olio_item', item: olio_item  %>
    <% end %>
  </div>
</div>

